{erl_opts, [warnings_as_errors, debug_info]}.
{port_specs,
 [{".*", "priv/hlc_server.so",
   ["c_src/*.c*"],
   [{env, [{"CFLAGS", "$CFLAGS"}]}]
  }]}.

{deps, [
    {protobuffs, "0.8.*", 
      {git, "git://github.com/basho/erlang_protobuffs.git", {tag, "0.8.1p4"}}},
    {lager, "2.0.3", {git, "git://github.com/basho/lager.git", {tag, "2.0.3"}}}
  ]}.
